//colours
$lightest-col: rgb(255, 255, 255);
$primary-text: #ffffff;
$light-blue-bg: #c6e6ec;
$darkest-col: #333738;
$button-primary: #e6612e;
$button-hover: #b74c22;
$accent: #c6538c;
$link: #c6538c;

//mixins
@mixin spacing {
  padding: 0 2em;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  color: $primary-text;
  margin-bottom: 10px;
}

h4 {
  font-size: 20px;
}

body {
  font-family: "Rethink Sans", sans-serif;
  color: $primary-text;
  background: rgb(18, 69, 135);
  background: linear-gradient(
    239deg,
    rgba(18, 69, 135, 1) 0%,
    rgba(59, 81, 157, 1) 38%,
    rgba(15, 16, 112, 1) 89%
  );
}

.flex {
  display: flex;
}

.header {
  text-align: center;
  padding: 1em 4em;
}

.container {
  padding: 0em 4em;
  width: 100vw;
  display: flex;
  gap: 50px;
}

.place {
  padding-top: 20px;
  display: flex;
  gap: 10px;
  color: #000000;
  & p {
    background-color: #9bced7;
    padding: 10px;
    border-radius: 100px;
  }
}

.today-icon {
  width: 200px;
}

.today h3 {
  font-size: 80px;
  margin-bottom: 0;
}

.flex-container {
  display: flex;
  gap: 80px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.today-container {
  width: 60%;
}

//live block info cards
.today-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 25px;
  flex-shrink: 1;
  margin: 15px 0px;
}

.today-icon-temp {
  text-wrap: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-card:nth-child(3) {
  justify-content: space-between;
  gap: 15px;
  grid-column: 1 / 3; /* span from grid column line 1 to 3 (i.e., span 2 columns) */
  grid-row: 2 / 3; /* same concept, but for rows */
}

.info-card {
  padding: 25px;
  border-radius: 20px;
  background-color: rgba(75, 80, 174, 0.2);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  & img {
    width: 40px;
    object-fit: contain;
  }
}

// next 24hours
.today-hourly-forecast {
  display: flex;
  gap: 40px;
  font-weight: 500;
  align-items: baseline;
  flex-wrap: wrap;
}

.hourly-icons {
  width: 50px;
}

.hourly-forecast-items {
  text-align: center;
}

.today-hourly {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  padding: 35px;
  border-radius: 20px;
  background-color: rgba(75, 80, 174, 0.2);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  margin-bottom: 30px;
}

//next few days & surf data
.multi-day-surf {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px;
  border-radius: 20px 20px 0px 0px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  margin-top: 90px;
}
