h1,
h2,
h3,
h4 {
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 10px;
}

h4 {
  font-size: 20px;
}

body {
  font-family: "Rethink Sans", sans-serif;
  color: #ffffff;
  background: rgb(18, 69, 135);
  background: linear-gradient(239deg, rgb(18, 69, 135) 0%, rgb(59, 81, 157) 38%, rgb(15, 16, 112) 89%);
}

.header {
  text-align: center;
  padding: 1em 4em;
}

.container {
  padding: 0em 4em;
  width: 100vw;
  display: flex;
  gap: 50px;
}

.place {
  padding-top: 20px;
  display: flex;
  gap: 10px;
  color: #000000;
}
.place p {
  background-color: #9bced7;
  padding: 10px;
  border-radius: 100px;
}

.today-icon {
  width: 200px;
}

.today h3 {
  font-size: 80px;
  margin-bottom: 0;
}

.flex {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
}

.flex-container {
  display: flex;
  gap: 80px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.today-container {
  width: 60%;
}

.today-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 25px;
  flex-shrink: 1;
  margin: 15px 0px;
}

.today-overview {
  text-wrap: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-card:nth-of-type(3) {
  justify-content: space-between;
  gap: 15px;
  grid-column: 1/3; /* span from grid column line 1 to 3 (i.e., span 2 columns) */
  grid-row: 2/3; /* same concept, but for rows */
}

.info-card {
  padding: 25px;
  border-radius: 20px;
  background-color: rgba(75, 80, 174, 0.2);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
.info-card img {
  width: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}

.today-hourly-forecast {
  display: flex;
  gap: 40px;
  font-weight: 500;
  align-items: baseline;
  flex-wrap: wrap;
}

.hourly-icons {
  width: 50px;
}

.hourly-forecast-items {
  text-align: center;
}

.today-hourly {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  padding: 35px;
  border-radius: 20px;
  background-color: rgba(75, 80, 174, 0.2);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  margin-bottom: 30px;
}

.multi-day {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 35px;
  border-radius: 20px 20px 0px 0px;
  background-color: rgba(40, 33, 87, 0.231372549);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  margin-top: 90px;
}

.dayAbbrev:hover,
.dayAbbrev:focus-within {
  padding: 20px 35px;
  border-radius: 20px;
  background-color: rgba(75, 80, 174, 0.2);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}

.dayAbbrev {
  padding: 20px 35px;
  border-radius: 20px;
}

summary {
  list-style-position: unset;
}

.daily-weather-icon {
  width: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}

.min-max-temp {
  margin: 0;
}

.daily-desc {
  font-size: 14px;
  margin: 0;
}/*# sourceMappingURL=style.css.map */